# system
.DS_Store
**/.DS_Store

# env
.env
.env.*
backend/.env
client/.env

# node
node_modules/
**/node_modules/

# builds
dist/
build/
**/dist/
**/build/

# uploads
backend/uploads/

# prisma
backend/node_modules/.prisma/
backend/node_modules/@prisma/client/